pkgbase = intel-lpmd
	pkgdesc = Intel Low Power Mode Daemon
	pkgver = 0.1.0
	pkgrel = 3
	url = https://github.com/cachyos/intel-lpmd
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = automake
	makedepends = autoconf-archive
	makedepends = gtk-doc
	makedepends = glib2-devel
	makedepends = systemd
	depends = libxml2-legacy
	depends = libnl
	depends = systemd-libs
	depends = polkit
	depends = upower
	source = git+https://github.com/cachyos/intel-lpmd.git#commit=f2e972f4620268c6a76bb4dbbe6d03fdf612fda6
	sha256sums = 98d727f2ea3cb3b19f387e8ed8ac61903e3650356a85eb143baf5fd0e9decc60

pkgname = intel-lpmd
