pkgbase = cachyos-ananicy-rules
	pkgdesc = CachyOS - ananicy-rules
	pkgver = 1.1.35
	pkgrel = 1
	epoch = 1
	url = https://github.com/CachyOS/ananicy-rules
	arch = any
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = git
	provides = ananicy-rules-git
	conflicts = ananicy-rules-git
	replaces = ananicy-rules-git
	source = ananicy-rules::git+https://github.com/CachyOS/ananicy-rules.git#tag=1.1.35
	sha256sums = a5aa60fba86184b724c0f52dd9b5eb7ea484cf121cd669fc8bc0fefb56dc012f

pkgname = cachyos-ananicy-rules
